


.sobreNosotros{
    width: 96vw;
    font-family: $fuente_general;
    font-size: larger;
    margin: 0 auto;
    // background-color: aqua;
    border: 2px solid black;
}

.nuestraHistoria{
    margin: 5rem;
}